<ion-content>
	<app-topbar [title]="'Comparateur'"></app-topbar>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-searchbar (ionChange)="updateSearchedItem($event)"></ion-searchbar>
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-center">
			<ion-chip
				(click)="changeFilter(filter)"
				[ngStyle]="{ background: filter.active ? '#ff7a00' : '#615f63' }"
				*ngFor="let filter of filters"
			>
				<ion-label>{{ filter.label }}</ion-label>
			</ion-chip>
		</ion-row>
		<ion-row class="items-collection">
			<ng-container *ngIf="getFilteredList().length > 0">
				<ion-col size="4" *ngFor="let item of getFilteredList()">
					<div
						(click)="add(item)"
						class="card-item"
						[ngStyle]="{ border: item.checked ? '2px solid #FF7A00' : '' }"
					>
						<p class="item-title">{{ item.label }}</p>
						<p class="attributes-item">
							<span class="attribute-item">Efficacité:</span> {{ item.efficiency }} <br />
							<span class="attribute-item">Durabilité:</span> {{ item.utilisations }}
						</p>
					</div>
				</ion-col>
			</ng-container>
			<ng-container *ngIf="getFilteredList().length === 0">
				<ion-col size="8" class="notFoundBox">
					<ion-img class="notFoundIcon" src="../../assets/notFound.svg"></ion-img>
					<p>Ooops ! Tu n’as aucun objet d’elevage dans le comparateur.</p>
				</ion-col>
			</ng-container>
		</ion-row>
	</ion-grid>
</ion-content>
